/* Login page */
  #login, #chat {
    margin-top: 130px;
    box-shadow: 2px 2px 5px #bbb;
  }

  #login h2 {
    background: #ccc;
    padding: 8px 0px;
  }

  #login .panel {
    padding: 20px 50px 30px;
  }

  a.btn-primary {
    width: 40%;
  }
/* Chat page */
  .spinner-grow {
    width: 200px;
    height: 200px;
    position: fixed;
    top: calc( 50% - ( 200px / 2) ); /* where ... is the element's height */
    right: calc( 50% - ( 200px / 2) ); /* where ... is the element's width */
  }

  #chat .dropdown-menu{

  }
  #chat .dropdown-menu .dropdown-item:active {
    background-image: none;
    
    background-color: #000;
  }
  
  #chat .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
  }